h3
{
  font-size: 25px !important;
}
canvas {
  border:2px dashed black;
  animation-name: exemple ;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.btn-success:hover{
  background-color: pink;
}
@keyframes exemple{
  from {box-shadow:1px 1px 38px rgb(160, 67, 113);}
  to   {box-shadow:1px 1px 38px rgb(255, 161, 220);}
}
